.icon-left
{
    position: absolute;
    left: 10px;
    top: 10px;

}

.icon-right
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.Season-display
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter
{
    background-color: aliceblue;
}

.summer
{
    background-color: orange;
}
.autumn
{
    background-color: aliceblue;
}

.spring
{
    background-color: lightyellow;
}